@tailwind base;
@tailwind components;
@tailwind utilities;

/* 웹킷(Chrome, Safari 등) 브라우저의 스크롤바 */
::-webkit-scrollbar {
  width: 0.4rem; /* 스크롤바의 너비 */
}

/* 스크롤바의 Track (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바의 Thumb (드래그할 수 있는 부분) */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 500px;
}

/* input 태그 타입이 number일 때 화살표 숨기기 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* 호버 상태일 때 스크롤바의 Thumb 색 변경 */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb; /* 호버 시 배경색 변경 */
}
body {
  background-color: #ffffff;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
