@tailwind base;
@tailwind components;
@tailwind utilities;

/* 시스템이 다크 모드 설정이라도 라이트 모드 스타일을 강제 적용 */
@media (prefers-color-scheme: dark) {
  body,
  button,
  input,
  textarea,
  input,
  select {
    background-color: #ffffff; /* 백색 배경 */
    color: #000000; /* 검정색 텍스트 */
    border-color: #cccccc; /* 회색 테두리 */
  }
  .radio:checked {
    background-color: white; /* 배경색 */
    border: 1px solid #ccc; /* 테두리 색상 */
  }

  a {
    color: #000000; /* 기본 링크 색상 */
  }

  /* 추가적인 요소에 대한 스타일을 미디어 쿼리 내에서도 동일하게 재정의합니다. */
}

/* 웹킷(Chrome, Safari 등) 브라우저의 스크롤바 */
::-webkit-scrollbar {
  width: 0.4rem; /* 스크롤바의 너비 */
}

/* 스크롤바의 Track (배경) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바의 Thumb (드래그할 수 있는 부분) */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 500px;
}

/* input 태그 타입이 number일 때 화살표 숨기기 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* 호버 상태일 때 스크롤바의 Thumb 색 변경 */
::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb; /* 호버 시 배경색 변경 */
}
body {
  background-color: #ffffff;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Alert 컴포넌트 애니메이션 효과 */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Alert 컴포넌트 애니메이션 효과 */
.alert-enter {
  animation: slideDown 0.5s forwards;
}

.alert-exit {
  animation: slideUp 0.5s forwards;
}

.basicHTML {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  h6 {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
